[submodule "eggs"]
	path = eggs
	url = https://github.com/evilbinary/eggs.git
[submodule "duck"]
	path = duck
	url = https://github.com/evilbinary/duck.git
[submodule "app"]
	path = app
	url = https://github.com/evilbinary/app.git
[submodule "foot"]
	path = foot
	url = https://github.com/evilbinary/foot.git
