*.img
boot/x86/boot
boot/x86/init.bin
app/kernel
app/kernel.bin
**/*.log
boot/**/init
app/kernel.*
**/*.o
**/*.a
**/*.elf
**/*.dbg
app/etk/etk

**.elf
**.dbg
**.a
**.o
**/*.jpg
**/*.bmp

image/disk.vdi
app/gui/gui.elf
image/disk.vmdk
image/duck.fit
image/disk.vmdk.lck**

app/lvgl/lvgl
app/bin/ls
app/hello/hello
**.bin

app/**/**/target/**

**.lo
app/launcher/launcher

.vscode/
.sconsign.dblite

**/**/*.exe

init/kernel

kernel.map

zdata/**

image/disk.img


app/lua/lua
app/lua/luac
app/lua/luat
app/rust/test/test-rs

kernel.map